<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_nw_temp :: header ('ORDER DETAIL')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:inline="text">
        [[${header.title}]]
        <small th:text="${header.subtitle}">subtitle</small>
      </h1>
    </div>

    <div th:replace="_nw_temp :: nav"></div>

    <div class="row">
      <div class="col-md-1">
        <form action="/order/edit/0" th:action="@{/order/edit/} + ${order.id}" method="get">
          <button class="btn btn-primary" type="submit">Edit</button>
        </form>
      </div>
      <div class="col-md-1">
        <form action="/order/delete" th:action="@{/order/delete}" method="post">
          <input type="hidden" name="id" value="0" th:value="${order.id}"/>
          <button class="btn btn-primary" type="submit">Delete</button>
        </form>
      </div>
      <div class="col-md-10">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Order</h2>
        <table class="table table-striped table-bordered" th:if="${order}" th:object="${order}">
          <tr>
            <th class="col-md-3">Node ID</th>
            <td class="col-md-9" th:text="*{id}">id</td>
          </tr>
          <tr>
            <th>Order ID</th>
            <td th:text="*{orderID}">orderID</td>
          </tr>
          <tr>
            <th>Order Date</th>
            <td th:text="*{orderDate != null}? *{#dates.format(orderDate,'yyyy/MM/dd')} : '-'">orderDate</td>
          </tr>
          <tr>
            <th>Ship Name</th>
            <td th:text="*{shipName}">shipName</td>
          </tr>
          <tr>
            <th>Ship Country</th>
            <td th:text="*{shipCountry}">shipCountry</td>
          </tr>
          <tr>
            <th>Ship Region</th>
            <td th:text="*{shipRegion}">shipRegion</td>
          </tr>
          <tr>
            <th>Ship City</th>
            <td th:text="*{shipCity}">shipCity</td>
          </tr>
          <tr>
            <th>Ship Address</th>
            <td th:text="*{shipAddress}">shipAddress</td>
          </tr>
          <tr>
            <th>Ship Postal Code</th>
            <td th:text="*{shipPostalCode}">shipPostalCode</td>
          </tr>
          <tr>
            <th>Shipped Date</th>
            <td th:text="*{shippedDate != null}? *{#dates.format(shippedDate,'yyyy/MM/dd')} : '-'">shippedDate</td>
          </tr>
          <tr>
            <th>Required Date</th>
            <td th:text="*{requiredDate != null}? *{#dates.format(requiredDate,'yyyy/MM/dd')} : '-'">requiredDate</td>
          </tr>
          <tr>
            <th>Ship Via</th>
            <td th:text="*{shipVia}">shipVia</td>
          </tr>
          <tr>
            <th>Freight</th>
            <td th:text="*{freight}">freight</td>
          </tr>
          <tr>
            <th>Customer ID</th>
            <td th:text="*{customerID}">customerID</td>
          </tr>
          <tr>
            <th>Employee ID</th>
            <td th:text="*{employeeID}">employeeID</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Customer</h3>
        <table class="table table-striped table-bordered" th:if="${order.customer}" th:object="${order.customer}">
          <tr>
            <th class="col-md-3">Node ID</th>
            <td class="col-md-9" th:text="*{id}">id</td>
          </tr>
          <tr>
            <th>Customer ID</th>
            <td th:text="*{customerID}">customerID</td>
          </tr>
          <tr>
            <th>Contact Name</th>
            <td th:text="*{contactName}">contactName</td>
          </tr>
          <tr>
            <th>Contact Title</th>
            <td th:text="*{contactTitle}">contactTitle</td>
          </tr>
          <tr>
            <th>Country</th>
            <td th:text="*{country}">country</td>
          </tr>
          <tr>
            <th>Region</th>
            <td th:text="*{region}">region</td>
          </tr>
          <tr>
            <th>City</th>
            <td th:text="*{city}">city</td>
          </tr>
          <tr>
            <th>Address</th>
            <td th:text="*{address}">address</td>
          </tr>
          <tr>
            <th>PostalCode</th>
            <td th:text="*{postalCode}">postalCode</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td th:text="*{phone}">phone</td>
          </tr>
          <tr>
            <th>Fax</th>
            <td th:text="*{fax}">fax</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Products</h3>
        <table class="table table-striped table-bordered" th:if="${order.products}">
          <caption th:text="${order.products.size() + ' products'}">size</caption>
          <thead>
            <tr>
              <th>Index</th>
              <th>Node ID</th>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Quantity Per Unit</th>
              <th>Unit Price</th>
              <th>Units In Stock</th>
              <th>Units On Order</th>
              <th>Reorder Level</th>
              <th>Discontinued</th>
              <th>Supplier ID</th>
              <th>Category ID</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product, status : ${order.products}">
              <td th:text="${status.count}">1</td>
              <td>
                <a href="/product/detail/1" th:href="@{/product/detail} + '/' + ${product.id}" th:text="${product.id}">id</a>
              </td>
              <td th:text="${product.productID}">productID</td>
              <td th:text="${product.productName}">productName</td>
              <td th:text="${product.quantityPerUnit}">quantityPerUnit</td>
              <td th:text="${product.unitPrice}">unitPrice</td>
              <td th:text="${product.unitsInStock}">unitsInStock</td>
              <td th:text="${product.unitsOnOrder}">unitsOnOrder</td>
              <td th:text="${product.reorderLevel}">reorderLevel</td>
              <td th:text="${product.discontinued}">discontinued</td>
              <td th:text="${product.supplierID}">supplierID</td>
              <td th:text="${product.categoryID}">categoryID</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Recommend</h2>
        <table class="table table-striped table-bordered" th:if="${recommend}">
          <thead>
            <tr>
              <th>Index</th>
              <th>Node ID</th>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Quantity Per Unit</th>
              <th>Unit Price</th>
              <th>Units In Stock</th>
              <th>Units On Order</th>
              <th>Reorder Level</th>
              <th>Discontinued</th>
              <th>Supplier ID</th>
              <th>Category ID</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product, status : ${recommend}">
              <td th:text="${status.count}">1</td>
              <td>
                <a href="/product/detail/1" th:href="@{/product/detail} + '/' + ${product.id}" th:text="${product.id}">id</a>
              </td>
              <td th:text="${product.productID}">productID</td>
              <td th:text="${product.productName}">productName</td>
              <td th:text="${product.quantityPerUnit}">quantityPerUnit</td>
              <td th:text="${product.unitPrice}">unitPrice</td>
              <td th:text="${product.unitsInStock}">unitsInStock</td>
              <td th:text="${product.unitsOnOrder}">unitsOnOrder</td>
              <td th:text="${product.reorderLevel}">reorderLevel</td>
              <td th:text="${product.discontinued}">discontinued</td>
              <td th:text="${product.supplierID}">supplierID</td>
              <td th:text="${product.categoryID}">categoryID</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="_nw_temp :: footer"></div>
  </div>

  <div th:include="_nw_temp :: script"></div>
</body>
</html>