<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (title)">
<title th:text="${title}">title</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/bootstrap-3.3.5/css/bootstrap.min.css"
	th:href="@{/bootstrap-3.3.5/css/bootstrap.min.css}" rel="stylesheet" />
<link href="/css/profile.css" th:href="@{/css/profile.css}"
	rel="stylesheet" />
<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="/image/ico/favicon.png"
	th:href="@{/image/ico/favicon.png}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="/image/ico/apple-touch-icon-144-precomposed.png"
	th:href="@{/image/ico/apple-touch-icon-144-precomposed.png}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="/image/ico/apple-touch-icon-114-precomposed.png"
	th:href="@{/image/ico/apple-touch-icon-114-precomposed.png}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="/image/ico/apple-touch-icon-72-precomposed.png"
	th:href="@{/image/ico/apple-touch-icon-72-precomposed.png}" />
<link rel="apple-touch-icon-precomposed"
	href="/image/ico/apple-touch-icon-57-precomposed.png"
	th:href="@{/image/ico/apple-touch-icon-57-precomposed.png}" />
<link rel="stylesheet" href="/css/form-elements.css"
	th:href="@{/css/form-elements.css}" />
<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
		<div th:fragment="nav" class="row">
			<div class="col-md-12">
				<ul class="nav nav-pills">
					<li role="presentation"><a href="/customer/"
						th:href="@{/customer/}"><b>CUSTOMERS</b></a></li>
					<li role="presentation"><a href="/order/" th:href="@{/order/}"><b>ORDERS</b></a></li>
					<li role="presentation"><a href="/product/"
						th:href="@{/product/}"><b>PRODUCTS</b></a></li>
					<li role="presentation"><a href="/supplier/"
						th:href="@{/supplier/}"><b>SUPPLIERS</b></a></li>
					<li role="presentation"><a href="/category/"
						th:href="@{/category/}"><b>CATEGORIES</b></a></li>
				</ul>
			</div>
		</div>
		<div th:fragment="user-nav" class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="/livedplaces/"
						th:href="@{/livesplace/}"><b>LIVED PLACES</b></a></li>
					<li role="presentation"><a href="/traveledplaces/"
						th:href="@{/traveledplaces/}"><b>TRAVELED PLACES</b></a></li>
					<li role="presentation"><a href="/friends/"
						th:href="@{/friends}"><b>FRIENDS</b></a></li>
					<li role="presentation"><a href="/about/" th:href="@{/about/}"><b>ABOUT</b></a></li>
				</ul>
			</div>
		</div>
		<div th:fragment="footer" class="page-header">
			<div>footer</div>
		</div>
	</div>
	<div th:fragment="script">
		<script src="/vendor/jquery/jquery-1.11.3.js"
			th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
		<script src="/vendor/bootstrap-3.3.5/js/bootstrap.js"
			th:src="@{/vendor/bootstrap-3.3.5/js/bootstrap.js}"></script>
	</div>
</body>
</html>